In [2]:
import pandas as pd
import numpy as np

In [3]:
#Loading the dataset
games = pd.read_csv("E:/practice data sets/Vediogame analysis/Datasets/games.csv")
sales = pd.read_csv("E:/practice data sets/Vediogame analysis/Datasets/vgsales.csv")

In [4]:
#To see the first 5 column
games.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [5]:
sales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [6]:
#To copy the dataframe
games_copy = games.copy()

In [7]:
games_copy.head(1)

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K

In [8]:
#To see the no.of data and columns in dataframe
games_copy.shape

(1512, 14)

In [9]:
#Information about the dataframe
games_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1512 non-null   object
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 165.5+ KB

In [10]:
#To see the statistical details
games_copy.describe()

        Unnamed: 0       Rating
count  1512.000000  1499.000000
mean    755.500000     3.719346
std     436.621117     0.532608
min       0.000000     0.700000
25%     377.750000     3.400000
50%     755.500000     3.800000
75%    1133.250000     4.100000
max    1511.000000     4.800000

In [11]:

column_to_shift = 'Unnamed: 0'

#Add 1 to every value in that column
games_copy['Unnamed: 0'] = games_copy['Unnamed: 0'] + 1

games.head(5)

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [12]:
#Replace the first column with as crt serial number
games_copy.iloc[:, 0] = range(1, len(games_copy) + 1) 

#Rename the column name S.no
games_copy.rename(columns={'Unnamed: 0':'s_no'}, inplace=True)

In [13]:
#To see the column names
games_copy.columns

Index(['s_no', 'Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist'],
      dtype='object')

In [14]:
games_copy['Release Date'] = pd.to_datetime(games_copy['Release Date'], errors='coerce')

In [15]:
games_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   s_no               1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1509 non-null   datetime64[ns]
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(11)
memory usage: 165.5+ KB

In [16]:
games_copy['Release Date'].isnull().sum()

np.int64(3)

In [17]:
mode_data = games_copy['Release Date'].mode()[0]
games_copy['Release Date'].fillna(mode_data, inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_11368\761793809.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games_copy['Release Date'].fillna(mode_data, inplace=True)

In [18]:
games_copy['Release Date'].isnull().sum()

np.int64(0)

In [19]:
# Converting the 3.9k into actual number

def convert_k(x):
    if isinstance(x, str) and 'K' in x: #Check if the value is a string and contains 'K'
        return float(x.replace('K','')) * 1000 #Remove 'K', convert to float (3.9), and multiply by 1000
        
    try: #Otherwise, try to convert the value directly to a float
        return float(x)
    except: #If conversion fails (e.g., 'N/A'), return NaN
        return np.nan

In [20]:
#Converting Column values 3.9 to 3900
cols_to_convert = ['Times Listed', 'Number of Reviews', 'Plays', 'Playing', 'Backlogs', 'Wishlist']

for col in cols_to_convert:
    games_copy[col] = games_copy[col].apply(convert_k)

In [23]:
cols = ['Team', 'Genres', 'Reviews']

for col in cols:
    games_copy[col] = games_copy[col].astype(str) #Make Sure Its String
    games_copy[col] = games_copy[col].replace(r"[\[\]\'\"\"]", "", regex=True) #Remove brackes and quotes
    games_copy[col] = games_copy[col].str.strip() #REmove lending and trailing spaces

In [25]:
# Handle missing values: fill or drop
games_copy['Genres'] = games_copy['Genres'].fillna("Unknown")
games_copy['Team'] = games_copy['Team'].fillna("Unknown")
games_copy['Summary'] = games_copy['Summary'].fillna("No summary available")
games_copy['Reviews'] = games_copy['Reviews'].fillna("No reviews available")  # Fixed this line - changed games_copy() to fillna()
games_copy['Rating'] = games_copy['Rating'].fillna(games_copy['Rating'].mean())
games_copy['Times Listed'] = games_copy['Times Listed'].fillna(games_copy['Times Listed'].mean())
games_copy['Number of Reviews'] = games_copy['Number of Reviews'].fillna(games_copy['Number of Reviews'].mean())

In [26]:
games_copy.isnull().sum()

s_no                 0
Title                0
Release Date         0
Team                 0
Rating               0
Times Listed         0
Number of Reviews    0
Genres               0
Summary              0
Reviews              0
Plays                0
Playing              0
Backlogs             0
Wishlist             0
dtype: int64

In [27]:
original_columns = games_copy.columns

new_columns = original_columns.str.lower().str.replace(' ','_')

games_copy.columns = new_columns

In [28]:
games_copy.shape

(1512, 14)

In [29]:
games_copy.columns

Index(['s_no', 'title', 'release_date', 'team', 'rating', 'times_listed',
       'number_of_reviews', 'genres', 'summary', 'reviews', 'plays', 'playing',
       'backlogs', 'wishlist'],
      dtype='object')

In [30]:
games_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   s_no               1512 non-null   int64
 1   title              1512 non-null   object
 2   release_date       1512 non-null   datetime64[ns]
 3   team               1512 non-null   object
 4   rating             1512 non-null   float64
 5   times_listed       1512 non-null   float64
 6   number_of_reviews  1512 non-null   float64
 7   genres             1512 non-null   object
 8   summary            1512 non-null   object
 9   reviews            1512 non-null   object
 10  plays              1512 non-null   float64
 11  playing            1512 non-null   float64
 12  backlogs           1512 non-null   float64
 13  wishlist           1512 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 165.5+ KB

In [31]:
games_copy.isnull().sum()

s_no                 0
title                0
release_date         0
team                 0
rating               0
times_listed         0
number_of_reviews    0
genres               0
summary              0
reviews              0
plays                0
playing              0
backlogs             0
wishlist             0
dtype: int64

In [32]:
games_copy.to_csv("E:/practice data sets/Vediogame analysis/Clean Dataset/games1.csv", index=False)

In [48]:
sales_copy = sales.copy()

In [49]:
sales_copy.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [50]:
sales_copy.shape

(16598, 11)

In [51]:
sales_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [52]:
sales_copy.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [53]:
#Filling missing values in the Year and publisher  column

most_common_year = sales_copy['Year'].mode()[0]
sales_copy['Year'] = sales_copy['Year'].fillna(most_common_year).astype(int)

sales_copy['Publisher'] = sales_copy['Publisher'].fillna("Unknown")

In [54]:
# Convert categorical columns
categorical_cols = ['Name', 'Platform', 'Genre', 'Publisher']
for col in categorical_cols:
    sales_copy[col] = sales_copy[col].astype('category')

In [55]:
#Setting Columns to lower and replace ' ' to ''
original_columns = sales_copy.columns
new_columns = original_columns.str.lower().str.replace(' ','_')

sales_copy.columns = new_columns

In [61]:
sales_copy.shape

(16598, 11)

In [56]:
sales_copy.columns

Index(['rank', 'name', 'platform', 'year', 'genre', 'publisher', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales'],
      dtype='object')

In [57]:
sales_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16598 non-null  int64
 1   name          16598 non-null  category
 2   platform      16598 non-null  category
 3   year          16598 non-null  int64
 4   genre         16598 non-null  category
 5   publisher     16598 non-null  category
 6   na_sales      16598 non-null  float64
 7   eu_sales      16598 non-null  float64
 8   jp_sales      16598 non-null  float64
 9   other_sales   16598 non-null  float64
 10  global_sales  16598 non-null  float64
dtypes: category(4), float64(5), int64(2)
memory usage: 1.3 MB

In [60]:
sales_copy.to_csv("E:/practice data sets/Vediogame analysis/Clean Dataset/sales1.csv", index=False)